target/
logs/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.metadata

### IntelliJ IDEA ###
.mvn
.idea
*.iws
*.ipr
*.iml

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
gateway-utils/lib/java-sdk-core-2.0.1.jar
gateway-utils/lib/cloud-java-sdk-smn-1.0.0.jar
